{% extends 'main.html' %}


{% load static %} 

{% block content %}


<footer id="footer" class="footer">

<br><br><br><br><br>

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" /><input
                type="submit"
                value="Search"
                placeholder = "eg: Mercedes 2017 bumber"
              />
            </form>
          </div>

          <div class="col-lg-12 text-center mt-4">
            <h4>What are you looking for?</h4>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}